/* . = Klasse
   # = ID
.box {
    -fx-spacing: 20;
    -fx-alignment: center;
}
Klasse .box > (= direkt innerhalb) eine Klasse .label
.box > .label {
    -fx-font-size: 1.3em;
    -fx-text-fill: #de2125;
}

.box > .button {
    -fx-font-size: 1.5em;
    -fx-text-fill: derive(#2125de, 30%);
}
*/

/* Video Q: main.fxml */
.background{
    -fx-background-image: url("images/background.jpg");
}

.bankAccountAmount{
    -fx-font-size: 20.0;
    -fx-text-fill: derive(#ffffff, 30%);
    -fx-font-weight: bold;
}

.box {
    -fx-spacing: 50;
}

.importantText{
    -fx-font-size: 2.5em;
    -fx-text-fill: derive(#ffffff, 30%);
    -fx-font-weight: bold;
}
.naviButton{
    -fx-font-size: 1.2em;
    -fx-text-fill: derive(#2125de, 30%);
}
